<h1>Add a new Restaurant</h1>
<br>
<%= simple_form_for(@restaurant) do |f|  %>
  <%= f.input :name %>
  <%= f.input :address %>
  <%= f.input :phone_number %>
  <%= f.input :category, collection: Restaurant::CATEGORIES  %>
  <%= f.submit class: "btn btn-primary"%>
<% end %>


